*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    direction: rtl;
    background-color: #C5FFF8;
    /* background-image: url(../assets/background2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; */
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
header img{
    width: 40px;
}
header h1{
    font-weight: 400;
}
.categorie{
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    border-top: 2px solid black;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

}
.categorie ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.categorie hr{
    width: 1px;
    height: 38px;
    border: none;
    background-color: black;
}
.box{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.products{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px 25px;
}
.img-products{
    margin: 0 auto;
    background-image: url(../assets/back.jpg);
    width: 100%;
    height: 70%;
    background-size: cover;
    border-radius: 3px;
}
.products h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.btns{
    font-size: 25px;
    color: blue;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}
.btns button{
    width:70px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
    transition: 0.5s all linear;
}
.btns button:hover{
    background-color: transparent;
    color: black;
}
